*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-size-small{
    font-size: .8rem;
}

section.sfondo .green{
    background-color: #009688;
    height: 15vh;
}

section.sfondo .gray{
    background-color: #d9dbd5;
    height: 85vh;
}

div.window{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 500px;
    bottom: 13%;
    display: flex;
}

div.window div.chat-list{
    width: 35%;
    height: 100%;
    background-color: #ffffff;
}

div.window div.chat{
    width: 65%;
    height: 100%;
    background-color: red;
}

div.profilo{
    height: 50px;
    background-color: #ffffff;
}

div.profilo-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

div.profilo-utilita{
    color: #b1b1b1;
}

div.profilo-punti{
    font-size: .4rem;
}

div.notifiche{
    height: 60px;
    background-color: #8edafc;
}

div.cerchio-notifiche{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #8edafc;
}

div.testo-notifiche{
    font-size: .8rem;
}

div.ricerca{
    height: 40px;
    background-color: #ffffff;
}

div.contatti{
    overflow-y: scroll;
}

div.contatti ul li{
    list-style: none;
}